@font-face {
	font-family: "CenturyGothicRegular";
	src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot");
	src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff"),
		url("../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}
.clearfix:after {
  content: '';
  clear: both;
  display: table;
}
.container {
  width: 970px;
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: "CenturyGothicRegular", Arial, sans-serif;
  font-size: 18px;
  background: #edece8;
  margin: 0;
}
.btn {
	background: #69050a;
	width: 62px;
	height: 7px;
	border: 1px solid #736267;
}
.main-nav {
	float: left;
}
.main-nav__list {
	padding-left: 0;
}
.main-nav__item {
	list-style: none;
}
.main-nav__link {
	color: #fff;
	text-decoration: none;
}
.list__item {
	list-style: none;
}
.list__link {
	font-size: 14px;
	color: #000;
}
																						/* header */
.page-header {
	height: 294px;
	background-image: url("../img/bg_header.png");
	background-position: left top;
	background-repeat: no-repeat;
	border: 1px solid transparent;
	box-sizing: border-box;
	margin-top: 11px;
}
.header-menu {
	height: 55px;
	background: #3f282f;
	border-radius: 10px 10px 0 0;
	margin-top: 238px;
}
.header-main-nav__list {
  position: relative;
}
.header-main-nav__item {
  display: inline-block;
	vertical-align: top;
}
.header-main-nav__link {
	color: #fff;
	padding: 25px 41px 20px 32px;
}
.header-main-nav__link::after {
	content: "";
	width: 59px;
	height: 59px;
	position: absolute;
	top: -19px;
	background-image: url("../img/menu_border.png");
	background-position: center center;
	background-repeat: no-repeat;
}
.header-main-nav__link:last-child::after {
	content: "";
	width: 59px;
	height: 59px;
	position: absolute;
	top: -19px;
	background-image: url("../img/menu_border.png");
	background-position: center center;
	background-repeat: no-repeat;
	margin-right: 10px;
}
.page-header__btn {
	float: right;
	margin: 14px 21px;
	padding: 5px 0 16px 15px;
	color: #eaeaea;
	font-size: 14px;
	text-decoration: none;
	cursor: pointer;
}
.header__find {
	float: right;
  width: 220px;
  height: 23px;
  margin-top: 15px;
}
																						/* main */
.content {
	padding: 10px 20px 0 20px;
	background: #f7f7f7;
	border-radius: 0 0 10px 10px;
}
.content-slider {
	height: 270px;
  background-image: url("../img/slider.jpg");
	background-position: center center;
	background-repeat: no-repeat;	
	margin-bottom: 20px;
}
.content-news {
	float: left;
	width: 685px;
	margin-right: 20px;
}
.news {
	background: #f5f5f5;
	border: 1px solid #e7e2e3;
	border-radius: 10px;
	margin-bottom: 20px;
}
.news-container {
	padding-left: 15px;
}
.news__title {
	font-family: Verdana;
	font-size: 24px;
	line-height: 36px;
	color: #3f282f;
	background: #e2e0e1;
	padding: 5px 0 0 15px;
	margin: 0;
	border-radius: 10px 10px 0 0;
}
.news__title span {
	font-size: 12px;
	line-height: 36px;
	font-family: Verdana;
	color: #b8a6ab;
}
.news__img {
	float: left;
	padding: 0 10px 0 0;
}
.news__text {
	font-family: Verdana;
	font-size: 12px;
}
.news__link {
	display: inline-block;
	font-family: Verdana;
  font-size: 12px;
  color: #3f282f;
  margin-bottom: 10px;
}
.news-container span {
	font-family: Verdana;
	font-size: 12px;
	color: #000;
}
.content-menu {
	float: left;
	width: 225px;
}
.content-menu__list {
	position: relative;
	top: -15px;
	background: #e7e2e3;
	border: 1px solid #d7d3d4;
	border-radius: 20px;
	height: 265px;
	margin: 0;
	padding-left: 0;
	z-index: 3;
}
.content-menu__title {
	position: relative;
	text-align: center;
	background: #3f282f;
	padding: 10px 0;
	color: #fff;
	margin: 0;
	border-radius: 10px 10px 0 0;
	z-index: 5;
}
.content-menu__link {
	line-height: 36px;
	padding-left: 35px;
}
.content-menu__item:first-child {
	padding-top: 28px;
}
																						/* footer */
.page-footer {
	opacity: 0.49;
}
.copyright {
	float: left;
	width: 395px;
}
.copyright__title {
	display: inline-block;
	font-size: 26px;
	color: #716b5b;
	margin: 30px 0 10px 0;
}
.copyright__title:first-letter {
  color: #a73700;
}
.copyright__text {
	font-family: Verdana;
	font-size: 14px;
	margin: 0 0 5px 0;
}
.footer-menu {
	float: left;
}
.footer-menu__list {
	margin: 0 0 15px 0;
	padding: 0;
}
.footer-menu__title {
	font-size: 24px;
	width: 315px;
	margin: 40px 0 0 0;
}
.footer__main-nav-title {
	font-size: 24px;
	color: #3f282f;
	margin: 40px 0 0 0;
}
.footer__list {
	margin: 0;
}
.footer__link {
	font-size: 14px;
	color: #000;
	text-decoration: underline;
}